{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ember.js/1.10.0/ember-template-compiler.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ember.js/1.10.0/ember.debug.js"></script>
{% include 'default/app.js.twig' %}
{% endblock %}

{% block body %}
    <div id="application"></div>
    <script type="text/x-handlebars" data-template-name="app">
        {% verbatim %}
        {{outlet}}
        {% endverbatim %}
    </script>

    <script type="text/x-handlebars" data-template-name="list">
        <p>List</p>
    </script>
{% endblock %}
