

<div class="row">
    <div class="col-sm-12">
        <h1>Commander's Log</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <ul class="todos list-group">
                {{outlet}}
                <li class="todo new list-group-item">
                    <form {{action 'create' on='submit'}}>
                        {{input value=name class='form-control' placeholder='Log Title'}}
                        {{textarea value=description class='form-control' placeholder='Stardate 7014.3...'}}
                        <button class="btn btn-create btn-primary btn-block" type="submit">Add Mission Log</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
